.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 50px;

	&-email {
		width: 15rem;
		margin-bottom: 20px;
	}

	&-password {
		width: 15rem;
		margin-bottom: 20px;
	}
}
